<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1 class="text-[#1a252f] text-4xl text-center uppercase mt-32 font-bold">portfolio component</h1>
<app-starbanner [isWhite]="false"></app-starbanner>
<div class="my-8 justify-center w-full overflow-hidden">
    <div id="poert-grid" >
        <div class="image relative">
        <img src="assets\poert1.png" id="img1" width="100%" class="rounded-lg"/>
        <div class="layer">
 <i class="fa fa-plus text-white fa-5x"></i>
        </div>
         </div>
        <div class="image relative">
        <img src="assets\port2.png" id="img2" width="100%" class="image rounded-lg"/>
        <div class="layer">
 <i class="fa fa-plus text-white fa-5x"></i>
        </div>
         </div>
        <div class="image relative">
        <img src="assets\port3.png" id="img3" width="100%" class="image rounded-lg"/>
        <div class="layer">
 <i class="fa fa-plus text-white fa-5x"></i>
        </div>
         </div>
        <div class="image relative">
        <img src="assets\poert1.png" id="img4" width="100%" class="img rounded-lg"/>
        <div class="layer">
 <i class="fa fa-plus text-white fa-5x"></i>
        </div>
         </div>
        <div class="image relative">
        <img src="assets\port2.png" id="img5" width="100%" class="image rounded-lg"/>
        <div class="layer">
 <i class="fa fa-plus text-white fa-5x"></i>
        </div>
         </div>
        <div class="image relative">
        <img src="assets\port3.png" id="img6" width="100%" class="image rounded-lg"/>
        <div class="layer">
 <i class="fa fa-plus text-white fa-5x"></i>
        </div>
         </div>
    </div>
</div>