<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bg-[#1ABC9C]  home flex justify-center ">
    <div class="text-center align-middle">
    <img src="assets/avataaars (1).svg" width="200px" alt="" class="mb-3 mx-auto mt-10">
        <h1 class="text-center text-2xl text-white uppercase font-bold pb-1">Start Framework</h1>
        <app-starbanner [isWhite]="true"></app-starbanner>
          <p class="text-white text-base">Graphic Artist - Web Designer - Illustrator</p>
    </div>

