<nav class="fixed top-0 bg-[#2C3E50] py-7 ps-16 w-screen flex z-50 ">
<a routerLink="/home" class="justify-start text-2xl text-white uppercase font-bold  w-1/4 text-left ps-4 cursor-pointer pb-1">Start Framework</a>
<ul class=" flex justify-end  text-white uppercase font-bold  w-3/4 px-6 text-sm pt-1">
    <li class="px-5 ">
        <a routerLink="/about" routerLinkActive="bg-[#1ABC9C] rounded-lg p-2 " class="cursor-pointer">About</a>
    </li>
    <li class="px-5 ">
        <a routerLink="/portfolio" routerLinkActive="bg-[#1ABC9C]  rounded-lg p-2" class="cursor-pointer">portfolio</a>
    </li>
    <li class="px-5 ">
        <a routerLink="/contact" routerLinkActive="bg-[#1ABC9C]  rounded-lg p-2" class="cursor-pointer">contact</a>
    </li>
</ul>
</nav>
