<div class="bg-[#1ABC9C]  about flex justify-center relative ">
    <div class="absolute top-40 ">
        <h1 class="text-center text-4xl text-white uppercase font-bold">about component</h1>
        <app-starbanner [isWhite]="true"></app-starbanner>
        <p class="text-white text-xs w-1/3 inline-block ms-52 ">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p> 
        <p class="text-white text-xs inline-block w-1/3 ms-5 ">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization </p>
    </div>
    </div>

