<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bg-[#2C3E50] bottom-0 p-8 py-20  flex align-middle text-white text-center" style="width: 100%;">
    <div class="w-1/3 justify-start ">
        <h1 class="text-xl uppercase font-bold mb-3 "> location</h1>
        <p class="text-sm">2215 John Daniel Drive</p>
        <p class="text-sm mt-2">Clark, MO 65243</p>
    </div>
    <div class="w-1/3 justify-center">
        <h1 class="text-xl uppercase font-bold mb-3 ">around the web</h1>
        <i class="fa fa-facebook p-2 me-2 rounded-full border border-white "></i>
        <i class="fa fa-twitter p-2 me-2  rounded-full border border-white "></i>
        <i class="fa fa-linkedin p-2 me-2  rounded-full border border-white "></i>
        <i class="fa fa-globe p-2 me-2  rounded-full border border-white "></i>    
    </div>
    <div class="w-1/3 justify-end">
        <h1 class="text-xl uppercase font-bold mb-3 ">about freelancer</h1>    
        <p class="text-sm">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>
</div>
<div class="bg-[#1a252f] bottom-0  justify-center text-white p-3" style="width: 100%;">
<p class="text-sm text-center">Copyright © Your Website 2021</p>
</div>